* {
  background-color: burlywood;
  font: monospace;
}

.hand {
  background-color: aquamarine;
  opacity: 0.4;
  border: 3px solid #14d561;
  opacity: 0.14;
  color: white;
}


img {
  border: 3px solid black;
  width: 360px;
  height: 360px;
}